* {
    font-family: CircularStd;
}

body, #topbar{
    background-color: #fffcf7;
}


#profile {
    position: fixed;
    right: 7rem;
}

#space {
    margin-bottom: 2em;
}

.girlImg {
    position: fixed;
    left: 40%;
    top: 40%;
}

.curly-quotes:before, .curly-quotes:after {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 48px;
    font-size: 50px;
    opacity: .7;
    color: orange;
  }
  
  .curly-quotes:before {
    content: '\201C';
    margin-right: 4px;
    margin-left: -8px;
  }
  
  .curly-quotes:after {
    content: '\201D';
    margin-left: 4px;
    margin-right: -8px;
  }
 
#hotweek {
    background-color: #ffb848;
    margin-top: 1em;
    border: 1px solid #ffb848;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    z-index: -1;
}

.Cards {
    margin-bottom: 1em;
}

#Welcome-content {
    margin-left: 3em;
    margin-top: 2em;
}

h3 {
    padding: 1em;
}

h2 {
    padding: 1em;
}

.leftP, #leftPB {
    font-size: 1.25em;
    padding: 0.75em;
}

.quote-by {
    display: block;
    padding-right: 10px;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    color: #84775c;
  }

#title {
    color: orange;
}

#body2 {
    width: 25em;
}

.n1 {
    position: relative;
    top: 10%;
    left:20%;
}

@media (max-width: 975px) {
    .girlImg {
        display: none;
    }
}